<header class="container">
  <h1>
    Angular testing
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad perferendis aspernatur quo. Accusantium hic modi enim praesentium consequuntur sint, temporibus itaque veniam neque quo dolorum distinctio vero, quibusdam soluta maiores!</p>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/people">Person</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/others">Others</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico preview</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>